<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Hướng dẫn từ vựng chi tiết</title>


	<script th:src="@{/js/html5shiv.js}"></script>

	<!-- bootstrap core css -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
	<!-- progress barstle -->
	<link rel="stylesheet" th:href="@{/css/css-circular-prog-bar.css}">
	<!-- fonts style -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- font wesome stylesheet -->
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}">
	<!-- Custom styles for this template -->
	<!-- responsive style -->
	<link th:href="@{/css/responsive.css}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/css/css-circular-prog-bar.css}">

	<link th:href="@{/css/style.css}" rel="stylesheet" />

	<script th:src="@{/js/jquery-1.js}"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>

	<style type="text/css">
		.showtext {
			text-align: auto;
			padding-top: 0.5em;
			padding-right: 1em;
			padding-bottom: 0.5em;
			padding-left: 1em;
		}
	</style>

	<!--<script type="text/javascript">
		$(document).ready(function () {
			//comment vocab			
			$('#btnComment').click(function () {

				var test = $("#contentComment").val();
				var baitaptuvungId = $("#id_bai_tu_v).val();
				var baseUrl = $('#baseUrl').val();

				$.ajax({
					dataType: "json",
					type: 'POST',
					url: baseUrl + "/grammar/ajaxCmtGram/" + test + "/" + baitaptuvungId,

					success: function (result) {

						var obj = JSON.parse(result);

						var name = "<h4 style='color:red'>" + obj.nguoidung + "</h4> ";
						var content = "<textarea disabled class='input-xxlarge showtext' rows='3' name='cmtgrammarcontent' >" + obj.cmtgrammarcontent + "</textarea>";

						$('#listcomment').append(name);
						$('#listcomment').append(content);

					},
					error: function (e) {
						alert("error");
						console.log("ERROR: ", e);
					}
				});

			});

		});
	</script>-->


</head>

<body>

	<!--Header
==========================-->

	<div th:replace="client/include/header::header"> </div>
	<input id="baseUrl" value="${pageContext.request.contextPath}" style="display: none;" />
	<!--/End Headter-->

	<!-- Page container -->

	<div class="container mybackground">
		<!--PAGE TITLE-->

		<div class="row">
			<div class="span12">
				<div class="page-header">
					<h3>Bài hướng dẫn học từ vựng</h3>
				</div>
			</div>
		</div>
		<h2 style="text-align: center" th:text="${vocab.getVocabularyName()}">Chủ đề:</h2>
		<!-- -->
		<div class="postmetadata">
			<ul>
				<li><i class="icon-user"></i> <a href="#">IT-HCMUTE</a></li>
				<li><i class="icon-calendar"></i><a href="#">October, 2021</a></li>

			</ul>
		</div>
		<!-- /. PAGE TITLE-->
		<div class="row">
			<div class="col-sm-1">.</div>
			<div class="col-sm-8">
				<div class="blog-post">


					<!--<img
	                        src="${pageContext.request.contextPath}/resources/static/images/vocabulary.jpg"
	                        style="height: 330px; width: 870px">-->



					<th:block th:each="list : ${listCauHoi}">
						<div class="span5">

						</div>
						<div class="row">

							<div class="span6">
								<h3 th:text="${list.getNumber()}"></h3>
								<h4 th:text="${list.getContent()}">
								</h4>
								

							<img
                                th:src="@{/static/file/images/vocab/}+${list.getImage()}"
                                alt="image not found" style="height: 210px; width: 300px;"/>
								<p>
									<b>NAmE:</b> &nbsp; <span style="color: red"
										th:text="${list.getTranscribe()}"></span>
								</p>

								<p>
									<b>Từ loại </b><span th:text="${list.getMeaning()}"></span>
								</p>

								<p>
									<b>Ví dụ: </b><span th:text="${list.getSentence()}"></span>
								</p>

								<audio controls>
									<source th:src="@{/static/file/audio/vocab/}+${list.getAudiomp3()}" type="audio/wav">
								</audio>

								<br>

							</div>



						</div>
						<br>
						<hr>
					</th:block>

				</div>


			</div>

			<!--/End Blog Post-->

			<div class="col-sm-3">
				<div th:replace="client/include/sidebar::sidebar"> </div>
				<!--<div class="side-bar" style="padding-left: 0px;height:100%">

						<h5>DANH MỤC</h5>
						
						<table style="padding-left: 0px;height:100% ">
							<tr>
								<td style="width:5% ;background-color: gainsboro;"></td>
								<td style="vertical-align:top">
									<ul class="nav-list" style="">
										<li class="myli" ><a href="/webtoeic/listening">Luyện bài nghe</a></li>
										<li class="myli"><a href="/webtoeic/reading">Luyện bài đọc</a> <br></li>
										<li class="myli"><a href="/webtoeic/listExam">Bài thi thử</a></li>
										<li class="myli"><a href="/webtoeic/listGrammar">Học ngữ pháp</a></li>
										<li class="myli"><a href="/webtoeic/listVocab">Học từ vựng</a></li>
									</ul>
								</td>
							</tr>
						</table>
						
					</div>-->

			</div>

			<!-- Start Comment -->
		</div>
		<div class="row">
			<hr class="myhr">
			<br></div>
		<div class="row">

			<th:block sec:authorize="isAnonymous()">
				<form>
					<fieldset>
						<h3>Bình luận</h3>

						<textarea class="form-control" rows="2" cols="100"
							placeholder="Viết bình luận đánh giá về bài đăng này..." name="comment" disabled
							style="text-align: left;">Đăng nhập để bình luận bài viết
						</textarea>
						<br>
						<button type="button" class="btn btn-primary" disabled>Đăng
							bình luận</button>
					</fieldset>

				</form>

			</th:block>




			<th:block sec:authorize="isAuthenticated()">
				<!--  	<input type="hidden" id="user_id" name="user_id" value="${currentUser.id}"/> -->
				<input type="hidden" id="id_bai_vocab" value="${vocabularyid}" />

				<div class="blog-spot">
					<div>
						<h3>Bình luận</h3>
						<textarea id="contentComment" class="form-control" rows="2" cols="100" name="contentComment"
							placeholder="Viết bình luận đánh giá về bài đăng này..."></textarea>

					</div>
					<br>
					<div>
						<button id="btnComment" type="button" class="btn btn-primary">Đăng
							bình luận</button>
					</div>
				</div>
			</th:block>
			<!-- Nội dung commnetn -->
			<h1 id="testajax"></h1>
			<!--
			<div id="listcomment">
				<c:forEach items="${listcomment}" var="list">

					<h4 style="color: red" id="name_member">${list.getNguoidung().getHoTen()}</h4>
					<textarea disabled class="input-xxlarge showtext" rows="3"
						name="cmtvocabularycontent">${list.cmtgrammarcontent}</textarea>
				</c:forEach>
			</div>-->
		</div>
		<!-- End Comment -->

		<!-- End Page Container -->
		<br>
		<br>
	</div>
	<!-- footer section -->
	<section class="">
		<div th:replace="client/include/footer::footer"> </div>
	</section>
	<!-- footer section -->


</body>

</html>