<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<div th:fragment="sidebar">
		<div class="side-bar d-md-flex align-items-stretch">
			<!--
			<h5>DANH MỤC</h5>

			<table style="padding-left: 0px;height:100% ">
				<tr>
					<td style="width:5% ;background-color: gainsboro;"></td>
					<td style="vertical-align:top">
						<ul class="nav-list" style="">
							<li class="myli"><a th:href="@{/listening}">Luyện bài nghe</a></li>
							<li class="myli"><a th:href="@{/reading}">Luyện bài đọc</a> <br></li>
							<li class="myli"><a th:href="@{/listExam}">Bài thi thử</a></li>
							<li class="myli"><a th:href="@{/listGrammar}">Học ngữ pháp</a></li>
							<li class="myli"><a th:href="@{/listVocab}">Học từ vựng</a></li>
						</ul>
					</td>
				</tr>
			</table>-->

			<nav id="sidebar">
				<div class="p-4 pt-5">
					<h5>Categories</h5>
					<ul class="list-unstyled components mb-5">
						<li>
							<a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false"
								class="dropdown-toggle">Chuỗi bài giảng</a>
							<ul class="collapse list-unstyled" id="pageSubmenu1">
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Từ vựng</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Ngữ pháp</a></li>
							</ul>
						</li>
						<li>
							<a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false"
								class="dropdown-toggle">Mens
								Shoes</a>
							<ul class="collapse list-unstyled" id="pageSubmenu2">
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Part 1</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Part 2</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Part 3</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Part 4</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Part 5</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Part 6</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Part 7</a></li>
							</ul>
						</li>
						<li>
							<a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false"
								class="dropdown-toggle">Accessories</a>
							<ul class="collapse list-unstyled" id="pageSubmenu3">
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Nicklace</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Ring</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Bag</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Sacks</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Lipstick</a></li>
							</ul>
						</li>
						<li>
							<a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false"
								class="dropdown-toggle">Clothes</a>
							<ul class="collapse list-unstyled" id="pageSubmenu4">
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Jeans</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> T-shirt</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Jacket</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Shoes</a></li>
								<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Sweater</a></li>
							</ul>
						</li>
					</ul>
					<div class="mb-5">
						<h5>Tag Cloud</h5>
						<div class="tagcloud">
							<a href="#" class="tag-cloud-link">dish</a>
							<a href="#" class="tag-cloud-link">menu</a>
							<a href="#" class="tag-cloud-link">food</a>
							<a href="#" class="tag-cloud-link">sweet</a>
							<a href="#" class="tag-cloud-link">tasty</a>
							<a href="#" class="tag-cloud-link">delicious</a>
							<a href="#" class="tag-cloud-link">desserts</a>
							<a href="#" class="tag-cloud-link">drinks</a>
						</div>
					</div>
					<div class="mb-5">
						<h5>Newsletter</h5>
						<form action="#" class="subscribe-form">
							<div class="form-group d-flex">
								<div class="icon"><span class="icon-paper-plane"></span></div>
								<input type="text" class="form-control" placeholder="Enter Email Address">
							</div>
						</form>
					</div>
				</div>

			</nav>

		</div>
</body>

</html>